<launch>

    <!-- Webcam Args -->
    <arg name="webcam" default="0"/>
    <arg name="realsense" default="false"/>

    <!-- Enable Mediapipe Modules Args -->
    <arg name="enable_right_hand"       default="true"/>
    <arg name="enable_left_hand"        default="true"/>
    <arg name="enable_pose"             default="true"/>
    <arg name="enable_face"             default="false"/>
    <arg name="enable_face_detection"   default="false"/>
    <arg name="enable_objectron"        default="false"/>

    <!-- Available Models = 'Shoe', 'Chair', 'Cup', 'Camera' -->
    <arg name="objectron_model"         default="Shoe"/>

    <!-- Webcam Parameters -->
    <param name="mediapipe_gesture_recognition/webcam" value="$(arg webcam)"/>
    <param name="mediapipe_gesture_recognition/realsense" value="$(arg realsense)"/>

    <!-- Enable Mediapipe Modules Parameters -->
    <param name="mediapipe_gesture_recognition/enable_right_hand"     value="$(arg enable_right_hand)"/>
    <param name="mediapipe_gesture_recognition/enable_left_hand"      value="$(arg enable_left_hand)"/>
    <param name="mediapipe_gesture_recognition/enable_pose"           value="$(arg enable_pose)"/>
    <param name="mediapipe_gesture_recognition/enable_face"           value="$(arg enable_face)"/>
    <param name="mediapipe_gesture_recognition/enable_face_detection" value="$(arg enable_face_detection)"/>
    <param name="mediapipe_gesture_recognition/enable_objectron"      value="$(arg enable_objectron)"/>
    <param name="mediapipe_gesture_recognition/objectron_model"       value="$(arg objectron_model)"/>

    <!-- Mediapipe Stream Node -->
    <node pkg="mediapipe_gesture_recognition" type="D_mediapipe_stream_node.py" name="D_mediapipe_stream_node" output="screen"/>

</launch>
