<launch>

    <!-- Recognition Precision Arg -->
    <arg name="recognition_precision_probability" default="0.8"/>
    
    <!-- Recognition Precision Param -->
    <param name="recognition_precision_probability" value="$(arg recognition_precision_probability)"/>

    <!-- Mediapipe Gesture Recognition Node -->
    <node pkg="mediapipe_gesture_recognition" type="gesture_recognition_node.py" name="gesture_recognition_node" output="screen"/>

</launch>
