<launch>

    <!-- 2D / 3D Recognition Arg -->
    <arg name="gesture_recognition_3D" default="True"/>

    <!-- Mediapipe 2D/3D Gesture Recognition Training Node -->
    <node unless="$(arg gesture_recognition_3D)" pkg="mediapipe_gesture_recognition" type="training_node_2D.py" name="mediapipe_2D_training_node" output="screen"/>
    <node if="$(arg gesture_recognition_3D)"     pkg="mediapipe_gesture_recognition" type="PY_train_pickle_node.py" name="mediapipe_3D_training_node" output="screen"/>

</launch>
