<launch>

    <!-- 2D / 3D Recognition Arg -->
    <arg name="gesture_recognition_3D" default="True"/>

    <!-- Mediapipe 2D Gesture Recognition Training Node -->
    <node unless="$(arg gesture_recognition_3D)" pkg="mediapipe_gesture_recognition" type="training_node_2D.py" name="training_node_2D" output="screen"/>

    <!-- Mediapipe 3D Gesture Recognition Training Node -->
    <node if="$(arg gesture_recognition_3D)"     pkg="mediapipe_gesture_recognition" type="training_node_3D.py" name="training_node_3D" output="screen"/>

</launch>
