<launch>

    <!-- Webcam Args -->
    <arg name="webcam" default="0"/>

    <!-- Enable Mediapipe Modules Args -->
    <arg name="enable_right_hand"       default="true"/>
    <arg name="enable_left_hand"        default="true"/>
    <arg name="enable_pose"             default="true"/>
    <arg name="enable_face"             default="false"/>
    <arg name="enable_face_detection"   default="false"/>
    <arg name="enable_objectron"        default="false"/>

    <!-- Available Models = 'Shoe', 'Chair', 'Cup', 'Camera' -->
    <arg name="objectron_model"         default="Shoe"/>

    <!-- Webcam Parameters -->
    <param name="webcam" value="$(arg webcam)"/>

    <!-- Enable Mediapipe Modules Parameters -->
    <param name="enable_right_hand"     value="$(arg enable_right_hand)"/>
    <param name="enable_left_hand"      value="$(arg enable_left_hand)"/>
    <param name="enable_pose"           value="$(arg enable_pose)"/>
    <param name="enable_face"           value="$(arg enable_face)"/>
    <param name="enable_face_detection" value="$(arg enable_face_detection)"/>
    <param name="enable_objectron"      value="$(arg enable_objectron)"/>
    <param name="objectron_model"       value="$(arg objectron_model)"/>

    <!-- Mediapipe Stream Node  -->
    <node pkg="mediapipe_gesture_recognition" type="new_mediapipe_video_node.py" name="new_mediapipe_video_node" output="screen"/> 

</launch>
